<div style="height: 40rem;">
  
  <h2>Guest Details</h2>

  <div class="card p-4 m-4">
    <table>
      <tr>
        <td class="p-2">Name : </td><td>{{GuestData.firstName}} {{GuestData.lastName}}</td>
      </tr>
      <tr>
        <td class="p-2">Guest ID : </td><td>{{GuestData.guestId}}</td>
      </tr>
      <tr>
        <td class="p-2">Email : </td><td>{{GuestData.emailAddress}}</td>
      </tr>
      <tr>
        <td class="p-2">Phone Number : </td><td>{{GuestData.phoneNumber}}</td>
      </tr>
      <tr>
        <td class="p-2">Date Of Birth : </td><td>{{GuestData.dob}}</td>
      </tr>
  
        
        
        
    </table>
  
  </div>
</div>
  
<!-- 

  <div class="modal-body">
    <p><b>Name : </b>{{GuestData.firstName}} {{GuestData.lastName}}</p>
    <p><b>Guest ID : </b>{{GuestData.guestId}} </p>
    <p><b>Email : </b>{{GuestData.emailAddress}} </p>
    <p><b>Phone Number : </b>{{GuestData.phoneNumber}}</p>
    <p><b>Date Of Birth : </b>{{GuestData.dob}}</p>
  </div> -->




  